.recordings-list{
    height: 200px;
    width: 430px;
    border-radius: 2px;
    color: black;
    border: none;
    margin: 10px;
    background-color: white;
}

h3{
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    margin: 20px;
}

h5{
    color: black;
    font-size: 18px;
    padding-left: 35px;
    padding-top: -30px;
    margin:4px;
    font-weight: normal;
    background-color: lightgray;
}

p{
    color: green;
    font-size: 15px;
    margin: 4px;
    padding-left: 50px; 
    font-weight: bold;
}