button{
    height: 100px;
    width: 430px;
    font-size: 36px;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 10px;
}

.button{
    &--green{
        background-color: $green;
    }
    &--red{
        background-color: $red;
    }
    &--orange{
        background-color: $orange;
        height: 50px;
        width: 140px;
        font-size: 16px;
        font-weight: bold;
    }
    &--blue{
        background-color: $blue;
    }
    &--yellow{
        background-color: $yellow;
    }
    &--purple{
        background-color: $purple;
    }

    &--small{
        height: 75px !important;
        width: 150px !important;
    }
}

input[type=button],input[type=submit]{
    @extend button;
}

input[type=text]{
    height: 50px;
    width: 300px;
    font-size: 30px;
    margin: 15px;
}