.flexRow{
    display: flex;
}

.alignItemsCenter{
    align-items: center;
}

.justifyContentCenter{
    justify-content: center;
}

#countdown{
    display: flex;
    justify-content: center;
    font-size: 50px;
}