h1{
    color: $primaryColor;
    margin: 0 !important;
}

h2{
    color: white;
    font-weight: normal;
}

p{
    color: white;
    font-size: 36px;
}

.text{
    &DarkMode{
        color: white;
    }
    &WhiteMode{
        color: black;
    }
}

.animation{
    width: 300px;
    // height: 300px;
}